{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'SocialBoard/css/register.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Billboard</title>
</head>

<body>
    <div class="reg-container">
        <h1>Create an Account</h1>
        <form action="{% url 'socialboard:register'%}" method="post">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Create Your Account" class="reg-submit">
        </form>
    </div>

</body>

</html>